<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>919865222028-28lkp4caf8ms6v41j3h3k1jea3pifdvn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.919865222028-28lkp4caf8ms6v41j3h3k1jea3pifdvn</string>
	<key>API_KEY</key>
	<string>AIzaSyBpTyJgS6wJtImfWx3b3_7tSfcIRBMVrBg</string>
	<key>GCM_SENDER_ID</key>
	<string>919865222028</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.taro.member</string>
	<key>PROJECT_ID</key>
	<string>member-37712</string>
	<key>STORAGE_BUCKET</key>
	<string>member-37712.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:919865222028:ios:38d2f41fd242a3495d2ca9</string>
</dict>
</plist>